<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4c300bbd99.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="nav-bar-container" onclick="myFunction()">
        <div class="navbar">
            <a href="/" class="nav-logo">
                Fur-Ever Friends <i class="fas fa-paw"></i>
            </a>
            <ul class="nav-menu">
                <li class='nav-item'>
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class='nav-item'>
                    <a href="/adopters" class="nav-link">Adopters</a>
                </li>
                <li class='nav-item'>
                    <a href="/counselors" class="nav-link">Counselors</a>
                </li>
                <li class='nav-item'>
                    <a href="/dogs" class="nav-link">Dogs</a>
                </li>
                <li class='nav-item'>
                    <a href="/applications" class="nav-link">Applications</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</body>
</html>